*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

textarea {
  all: unset;
}

body {
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;

  /* colors */
  --color-white: #ffffff;
  --color-lightgray: #f7f9fc;
  --color-gray: #e2e8ed;
  --color-darkgray: #6c757d;
  --color-darkestgray: #485056;
  --color-darkblue: #283042;
  --color-middarkblue: #333b52;
  --color-lightblue: #407fea;
  --color-green: #e1f3e7;
  --color-darkgreen: #4abf73;
  --color-red: #fae1e0;
  --color-darkred: #d8534e;
}

/* Utility classes */

/* Utility classes - Text color */

.u-darkestgray {
  color: var(--color-darkestgray);
}

.u-thin {
  font-weight: 400;
}

/* Container module */

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

/* Utility classes - Width */

.u-c70 {
  width: 70%;
}
.u-c30 {
  width: 30%;
}

/* Left nav bar */

.nav-left {
  display: flex;
  flex-direction: column;
  min-height: 0; /* ← this is the key for the parent */
  width: 20vw;
  min-width: 320px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-middarkblue);
}

/* Left nav bar title */

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  background-color: var(--color-middarkblue);
}

.title {
  color: var(--color-white);
}
.title::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--color-white);
  margin-top: 4px;
}

/* Left nav bar results list */

.results {
  flex: 1 1 0; /* fill remaining space under the 75px header */
  min-height: 0; /* allow it to collapse below its children’s full height */
  overflow-y: auto; /* ← enable the scrollbar when needed */
  background-color: var(--color-middarkblue);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

/* Scrollbar styling */

.results::-webkit-scrollbar {
  width: 8px; /* Vertical scrollbar width */
  height: 8px; /* Horizontal scrollbar height, if applicable */
}

.results::-webkit-scrollbar-track {
  background: var(--color-middarkblue); /* Track background */
}

.results::-webkit-scrollbar-thumb {
  background-color: var(--color-lightblue); /* Scroll thumb color */
  border-radius: 0.25rem;
}

.results::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-darkblue); /* Color on hover */
}

.result-container {
  padding: 10px;
  background-color: var(--color-white);
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  text-align: start;
  gap: 10px;
  border-radius: 0.25rem;
  cursor: pointer;
}

.result-name {
  color: var(--color-darkestgray);
  font-size: 14px;
  text-align: left;
  width: 100%;
  font-weight: bold;
}

/* Top nav bar */

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav-top {
  display: flex;
  flex-direction: row;
  justify-content: start;
  /* width: 80vw; */
  width: 100%;
  height: 75px;
  background-color: var(--color-white);
  z-index: 1;
  box-shadow: 0 0 2rem 0 rgba(41, 48, 66, 0.1);
}

.search-bar-container {
  align-content: center;
  width: 40%;
  height: 75px;
}

.search-bar-form {
  width: 500px;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.search-bar-form-input {
  flex: 1;
  width: 500px;
  height: 35px;
  padding-left: 5px;
}

.search-bar-input:focus {
  flex: 1;
  height: 35px;
  padding-left: 5px;
}

.search-bar-button {
  margin-left: 8px;
  height: 35px;
  width: 100px;
  border-radius: 0.25rem;
  background-color: var(--color-lightblue);
  border: none;
  color: var(--color-white);
  transition: all 0.1s ease-in-out;
}

.search-bar-button:hover {
  transform: scale(1.05);
}

.search-bar {
  display: flex;
  height: 75px;
  width: 100%;
  align-items: center;
  background-color: var(--color-white);
  gap: 20px;
  width: 80vw;
  background-color: var(--color-lightblue);
}

/* Top nav bar Action buttons */

.nav-top-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 75px;
  padding-right: 50px;
}

.nav-top-button {
  height: 35px;
  width: 100px;
  border-radius: 0.25rem;
  background-color: var(--color-lightblue);
  border: none;
  color: var(--color-white);
  transition: all 0.1s ease-in-out;
}

.nav-top-button:hover {
  transform: scale(1.05);
}

/* Details container */

.details-container {
  width: 100%;
  height: 100vh;
  background-color: var(--color-gray);
  overflow-y: auto; /* ← enable the scrollbar when needed */
}

.details-container-layout {
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.details-title-container {
}

.details-title {
  color: var(--color-darkestgray);
  font-weight: 400;
}

/* Summary cards */

.museum-summary-cards {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 150px;
  width: 100%;
  gap: 20px;
}

.museum-summary-card {
  display: flex;
  flex-direction: row;
  background-color: var(--color-white);
  height: 150px;
  width: 25%;
  border-radius: 0.25rem;
  padding: 15px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.museum-summary-card-text {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
  padding: 15px;
}

.museum-summary-card-title {
}

.museum-summary-card-title::after {
  content: "";
  display: block;
  width: 50%;
  height: 2px;
  background-color: var(--color-darkblue);
}

.museum-summary-card-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 30%;
  padding: 15px;
}

.summary-card-icon {
  background-color: black;
  height: 45px;
  width: 45px;
  border-radius: 100px;
}

.museum-details-cards {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 100%;
  width: 100%;
  gap: 20px;
}

.museum-details-card-column {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  height: 100%;
  gap: 20px;
  border-radius: 0.25rem;
  padding: 15px;
  justify-content: space-between;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.museum-description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 50px;
  height: 100%;
  width: 100%;
}

.museum-description-utility-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  height: 50px;
  width: 100%;
}

.museum-description {
}

.museum-collection {
}

.museum-map {
  background-color: #4abf73;
  border-radius: 0.25rem;

  width: 100%;
  height: 50%;
}

.museum-map-summary {
  background-color: #d8534e;
  border-radius: 0.25rem;

  width: 100%;
  height: 50%;
}

.utility-bar-button {
  margin-right: 16px;
  height: 35px;
  padding: 10px;
  width: 25%;
  border-radius: 0.25rem;
  background-color: var(--color-lightblue);
  border: none;
  color: var(--color-white);
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.utility-bar-button:hover {
  transform: scale(1.05);
}
