*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

textarea {
  all: unset;
}

body {
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;

  /* colors */
  --color-white: #ffffff;
  --color-lightgray: #f7f8fb;
  --color-gray: #e2e8ed;
  --color-darkgray: #6c757d;
  --color-darkestgray: #485056;
  --color-darkblue: #283042;
  --color-middarkblue: #333b52;
  --color-lightblue: #407fea;
  --color-green: #e1f3e7;
  --color-darkgreen: #4abf73;
  --color-red: #fae1e0;
  --color-darkred: #d8534e;
}

main {
  width: 100%;
  height: calc(100vh - 75px);
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

/* Topbar */

.top-bar {
  width: 100vw; /* is this better */
  height: 75px;
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/* Title container */

.search-bar-title-container {
  display: flex;
  align-items: center;
  width: calc(100vw - (100vw - 320px));
  height: 75px;
  padding: 10px;
  background-color: #333b52;
}

.search-bar-title {
  font-size: 24px;
  padding-left: 20px;
  color: var(--color-white);
}

.search-bar-title::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--color-lightblue);
  margin-top: 4px; /* optional spacing */
}

/* Searh bar container */

.search-bar {
  display: flex;
  align-items: center;
  gap: 20px;
  /* width: 800px; */
}

.search-bar-module {
  display: flex;
  align-items: center;
  width: 600px;
}

.search-bar-input {
  flex: 1;
  height: 35px;
  padding-left: 5px;
}

.search-bar-button {
  margin-left: 8px;
  height: 35px;
  width: 200px;
  background-color: var(--color-lightblue);
  border: none;
}

/* Action button container */

.action-bar-container {
  width: 50%;
  height: 75px;
  display: flex;
  justify-content: end;
  align-items: center;
}

/* Search list container */

.container-search-list {
  background-color: var(--color-middarkblue);
  gap: 10px;
  width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch; /* makes cards fill full width */
  justify-content: flex-start; /* aligns items to the top */
  overflow-y: auto;
  padding: 10px; /* optional: adds space around the content */
}

/* Scrollbar styling */

.container-search-list::-webkit-scrollbar {
  width: 8px; /* Vertical scrollbar width */
  height: 8px; /* Horizontal scrollbar height, if applicable */
}

.container-search-list::-webkit-scrollbar-track {
  background: var(--color-middarkblue); /* Track background */
}

.container-search-list::-webkit-scrollbar-thumb {
  background-color: var(--color-lightblue); /* Scroll thumb color */
  border-radius: 4px;
}

.container-search-list::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-darkblue); /* Color on hover */
}

.museum-details {
  background-color: var(--color-darkred);
  width: calc(100vw - 320px); /* full viewport width minus sidebar */
}

.museum-card {
  padding: 10px;
  background-color: var(--color-white);
  width: 300px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: start;
  gap: 10px;
  border-radius: 15px;
}

.museum-card-title {
  color: var(--color-darkestgray);
  font-size: 14px;
  text-align: left;
  width: 100%;
}

.museum-card {
  padding: 10px;
  background-color: var(--color-white);
  width: 100%; /* so it fills parent width */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* aligns items to the left */
  justify-content: center;
  gap: 10px;
  border-radius: 15px;
}

/* Toggle switch */

.button-cover,
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  width: 74px;
  height: 35px;
  margin: 0 auto;
  overflow: hidden;
}

.button.r .layer {
  border-radius: 100px;
  justify-content: end;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: var(--color-lightblue);
  transition: 0.3s ease all;
  z-index: 1;
}

#button-3 .knobs:before {
  content: "Dark";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 14px 4px;
  background-color: var(--color-middarkblue);
  border-radius: 50%;
  transition: 0.3s ease all;
}

#button-3 .checkbox:checked + .knobs:before {
  content: "Light";
  left: 39px;
  background-color: var(--color-darkred);
}

#button-3 .checkbox:checked ~ .layer {
  background-color: var(--color-red);
}
